@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        4.3 Case Studies
        4.4 Services
        4.5 Contact Form
        4.6 Footer
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

:root {
    --primary: hsl(277, 6%, 75%);
    --secondary: hsl(277, 100%, 97%);
    --header-text: hsl(277, 18%, 85%);
    --section-text: hsl(277, 12%, 44%);
    --body-text: hsl(277, 7%, 29%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link, a:visited {
    color: var(--header-primary);
    text-align: center;
    text-decoration: none;
}

/* ------------------------------- 2. Typography ----------------------------------- */

body {
    font-family: 'Roboto', sans-serif;
    color: var(--body-text);
}

h1,
h2,
h3,
h4 {
    font-family: "Lobster", sans-serif;
    color: var(--header-text);
    text-align: center;
}

::placeholder {
    font-family: 'Roboto', sans-serif;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

.outer-container {
    display: flex;
    justify-content: center;
}

.inner-container {
    flex-basis: 1200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    padding: 20px;
    border: 1px dashed orange;
}

/* --------------- 3.2 Other --------------------------- */


/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

.header-section {
    background: rgb(41,41,41);
    background: linear-gradient(111deg, rgba(41,41,41,1) 0%, rgba(82,77,82,1) 61%, rgba(125,114,125,1) 100%);
    color: var(--text-light);
}


.header-navigation {
    width: 100%;
}

.header-navigation ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.header-navigation a:link,
.header-navigation a:visited {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    color: var(--header-text);
    padding: 0 16px;
}


.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;

}

/* --------------- 4.2 Introduction ------------------- */



/* --------------- 4.3 About Me ------------------- */

.aboutme-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5em;
}

.photolexPH {
    border-radius: 50%;
    border: 8px;
    border-color: var(--section-text);
    box-shadow: 10px, 10px, 10px, 10px;
}

/* --------------- 4.4 Gallery ----------------------- */

.gallery-section {

    color: var(--section-text);
}

.image-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image-wrapper {
    border: 1px solid var(--body-text);
    background-color: white;
    box-shadow:  2px 2px 15px var(--body-text);
    width: 350px;
    height: 350px;
    padding: 20px;
    margin: 16px;
}

.image-wrapper p {
    color: var(--body-text);
    font-weight: 400;
}

.image-wrapper h3 {
    color: var(--header-text);
    font-weight: 700;
    font-size: 25px;
    padding:  10px 0px;
}

.image-wrapper img {
    width: 100%;
    justify-content: center;
}

/* --------------- 4.5 Contact Form ------------------- */

.form-section {
    background: rgb(41,41,41);
    background: linear-gradient(111deg, rgba(41,41,41,1) 0%, rgba(82,77,82,1) 61%, rgba(125,114,125,1) 100%);
    color: var(--header-text);
}

input,
textarea {
    background-color: var(--secondary);
    width: 100%;
    border-style: none;
    border-radius: 4px;
    padding: 12px;
    resize: none;
}

/* --------------- 4.6 Footer ------------------------- */

.footer-section {
    background-color: var(--body-text);
    color: var(--secondary);
}

.footer-wrapper {
    padding: 32px;
}

/* ------------------------------- 5. Media Queries -------------------------------- */

